/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


html, body, #ohdoc-challenge-manager, #ohdoc-challenge-manager>div {
    height: 100%;
    background: rgb(232, 244, 97);
    display: inline;
}

#ohdoc-challenge-manager {
    background: rgb(232, 244, 97);
    height: 100%;
}

.topNav {
    background: rgb(43, 40, 40);
    // position: relative !important;
    margin: 0 !important;
}

a.navbar-brand, a.nav-link {
    color: white !important;
}

// --- GENERAL USE CLASSES ---

.submitFormButton {
    margin-top: 10px;
}

.boldTitle {
    font-weight: bold;
}

// --- LOGIN/SIGNUP CONTAINER AND CONTENTS ---

.loginContainer {
    padding: 1.5%;
}

.loginBox{
    background: white;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 5px;
    box-shadow: 4.75px 6.5px;
    padding: 15px;
}

.signupContainer {
    padding: 1.5%;
}

.signupBox{
    background: white;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 5px;
    box-shadow: 4.75px 6.5px;
    padding: 15px;
}

// --- TWITTER CONTAINER CONTENTS ---

.tweetContainer {
    padding: 2%;
}

.tweetBox {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 4.75px 6.5px;
    padding: 15px;
}

// --- GITHUB CONTAINER CONTENTS ---

.gitContainer {
    padding: 2%;
}

.gitBox {
    background: white;  
    border: 1px solid rgb(43, 40, 40);
    border-radius: 5px;
    box-shadow: 4.75px 6.5px;
    padding: 15px;
}

// ---- GETTING STARTED MODAL ---

.modal-header {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.modal-body {
    padding-top: 0 !important;
}

// ---- PROFILE CONTAINER CONTENTS ----

.profileContainer {
    padding-top: 20% !important;
    // height: 100%;
}       

.profileBox {
    background: white;
    border: 1px solid rgb(43, 40, 40);
    border-radius: 5px;
    box-shadow: 4.75px 6.5px;
    // padding: 15px;
}

.profileHeader{
    margin-top: 10px;
}

.profileRow {
    // padding: 5px
    margin-bottom: 10px;
}

.profileSection {
    font-weight: bold;
}

.form-group {
    width: 100%;
}

.profSettings {
    border: 1px solid black;
}

.repoWarning {
    font-weight: bold;
    font-style: italic;
    padding-top: 1%;
}

.profileForm {
    padding: 1%;
}